*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
 
}

.banner{
    background-image: url(../placeholder.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    color: blue;
}
.gallery img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid white;
}
h1{
    font-size: 40px;
}
.banner-text{
    opacity: 0.6;
}
.gallery{
    display: flex;
    gap: 50px;
}
.dimmed{
    opacity: 0.4;
}
