/* a:link , a:visited{
    color: aquamarine;
}

a:hover, a:active{
    color: bisque;
} */

/* #section1:target{
    background-color: green;
}
#section2:target{
    background-color: yellow;
}
#section3:target{
    background-color: red;
} */


li:nth-child(n+3):nth-last-child(n+3){
     background-color:bisque
  
}

li::first-letter{
    font-size: 40px;
    color:brown
}
li::before{
    content: "before the list: ";
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* li::after{
    content: "A ";
    font-size: 9px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */


/* h1{
    color: red;
}
.hone{
    color: yellow;
}
#hone{
    color: blue;
} */
div > h1 {
    color:orange;
}

div h1{
    color: magenta;
} 

/* .maindiv .hone{
       color: blue;
}

.maindiv h1{
    color:brown;
}







   
